* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ffc0cb;
}

div.wrapper {
  color: #e6677c;
}

div>* {
  padding: 10px;
}

header {
  background-color: #d16a7c;
  color: pink;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  right: 10px;
  position: absolute;
}

nav>a {
  text-decoration: none;
}

nav>a>img {
  border-radius: 10px;
}

nav>a>img:hover {
  -webkit-filter: contrast(140%);
  filter: contrast(140%);
}

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #d16a7c;
  padding: 5px;
}

section {
  padding: 10px;
}

div.lists {
  display: flex;
}

.list {
  border: 2px solid #d16a7c;
  min-width: 10rem;
  width: auto;
  padding: 1rem;
  transition: all 0.25s ease;
}

.list:hover {
  background-color: rgb(255, 206, 214);
}

.list>summary {
  font-size: 24px;
}

.list>ul {
  padding-top: 10px;
  text-align: left;
}

.list>ul>li {
  list-style-type: square;
}

a:hover,
h1:hover,
.list:hover {
  cursor: url(../images/heart.cur), pointer;
}

@media only screen and (max-width: 390px) {
  header {
    max-height: 3.5rem;
  }
  header>h1 {
    font-size: 28px;
  }
  header>nav>a>img {
    width: 36px;
  }
  main>article>div.lists {
    display: block;
  }
}

@media only screen and (max-width: 340px) {
  header>h1 {
    font-size: 27px;
  }
  header>nav>a>img {
    width: 35px;
  }
}

@media only screen and (max-width: 330px) {
  header>h1 {
    font-size: 26px;
  }
  header>nav>a>img {
    width: 34px;
  }
}

@media only screen and (max-width: 320px) {
  header>h1 {
    font-size: 25px;
  }
  header>nav>a>img {
    width: 33px;
  }
}

@media only screen and (max-width: 310px) {
  header>h1 {
    font-size: 24px;
  }
  header>nav>a>img {
    width: 32px;
  }
}